@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #0a0a0a;
    --primary-foreground: #ffffff;
    --secondary: #f5f5f5;
    --secondary-foreground: #0a0a0a;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #0a0a0a;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #737373;
    --chart-1: #1e5eff;
    --chart-2: #00b37e;
    --chart-3: #ff8c00;
    --chart-4: #9933cc;
    --chart-5: #ff3366;

    color-scheme: light;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --chart-1: #1e5eff;
    --chart-2: #00b37e;
    --chart-3: #ff8c00;
    --chart-4: #9933cc;
    --chart-5: #ff3366;

    color-scheme: dark;
    color: var(--foreground);
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
